body{
    background-image: url(neha.jpg);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
      
}
.bulbs{
    height: 150px;
    width:100%;
}

.boxes{
   margin-top: 10px;
   margin-left: 50px;
   margin-right: 50px;
   background:linear-gradient(orange,grey,red,yellow,blue,green);
   
} 
.boxes span{
    box-shadow: 0 0 10px black;
    padding: 15px;
    margin-bottom: 50px;
margin-left: 20px;
margin-right: 20px;
    margin-top: 50px; 
    font-size: 30px;  
    border-radius: 10px; 
    color: white;
    display: inline-block;
    animation: slideDown 1s infinite ;
}
@keyframes slideDown{
     0%{
        transform: translate(0px);
     }
     50%{
        transform: translate(100px);
     }
     100%{
        transform: translate(0px);
     }

}
.boxes span:nth-child(1){
animation-delay: 0.1s;
background: linear-gradient(black,red);
}
.boxes span:nth-child(2){
    animation-delay: 0.2s;
    background: linear-gradient(blue,black);
    }
    .boxes span:nth-child(3){
        animation-delay: 0.3s;
        background: linear-gradient(black,rgb(0, 255, 136));
        }
        .boxes span:nth-child(4){
            animation-delay: 0.4s;
            background: linear-gradient(rgb(175, 44, 66),yellow)
            }
            .boxes span:nth-child(5){
                animation-delay: 0.5s;
                background: linear-gradient(orange,red);
                }
                .boxes span:nth-child(6){
                    animation-delay: 0.6s;
                    background: linear-gradient(rgb(0, 0, 0),rgb(0, 170, 255));
                    }
                    .boxes span:nth-child(7){
                        animation-delay: 0.7s;
                        background: linear-gradient(skyblue,black);
                        }
                        .boxes span:nth-child(8){
                            animation-delay: 0.8s;
                            background: linear-gradient(black,tomato);
                            }
                            .boxes span:nth-child(9){
                                animation-delay: 0.9s;
                                background: linear-gradient(indigo,black);
                                }
                                .boxes span:nth-child(10){
                                    animation-delay: 1s;
                                    background: linear-gradient(black,green);
                                    }
                                    .boxes span:nth-child(11){
                                        animation-delay: 1.1s;
                                        background: linear-gradient(black,violet);
                                        }
                                        .boxes span:nth-child(12){
                                            animation-delay: 1.2s;
                                            background: linear-gradient(cyan,black);
                                            }
                                            .boxes span:nth-child(13){
                                                animation-delay: 1.3s;
                                                background: linear-gradient(lime,coral);
                                                }
                                                .ballons-container{
                                                    position: absolute;
                                                    width: 100%;
                                                    height: 100%;
                                                    overflow: hidden;
                                                }
                                                .ballon{
                                                    position: absolute;
                                                    bottom: -150px;
                                                    width: 100px;
                                                    height: 70px;
                                                    animation: float 5s linear infinite;
                                                }
                                                .ballon img{
                                                    width: 100%;
                                                    height: auto;
                                                }
                                                .ballon:nth-child(1){
                                                    animation-delay: 1s;
                                                }
                                                .ballon:nth-child(2){
                                                    animation-delay: 2s;
                                                }
                                                .ballon:nth-child(3){
                                                    animation-delay: 4s;
                                                }
                                                .ballon:nth-child(4){
                                                    animation-delay: 6s;
                                                }
                                                .ballon:nth-child(5){
                                                    animation-delay: 8s;
                                                }
                                                .ballon:nth-child(6){
                                                    animation-delay: 10s;
                                                }
                                                .ballon:nth-child(7){
                                                    animation-delay: 12s;
                                                }
                                                .ballon:nth-child(8){
                                                   
                    
                                                        animation-delay: 14s;
                                                    }
                                                    .ballon:nth-child(9){
                                                        animation-delay: 16s;
                                                    }
                                                    .ballon:nth-child(10){
                                                        animation-delay: 18s;
                                                    }
                                                    .ballon:nth-child(11){
                                                        animation-delay: 11s;
                                                    }
                                
                                                
                                                .ballon:nth-child(12){
                                                    animation-delay: 7s;
                                                }
                                                .ballon:nth-child(13){
                                                    animation-delay: 5s;
                                                }
                                                .ballon:nth-child(14){
                                                    animation-delay: 11s;
                                                }
                                                @keyframes float{
                                                    0%{
                                                        transform:translateY(0)rotate(0deg); 
                                                    }
                                                    50%{
                                                        transform:translateY(-50vh)rotate(45deg); 
                                                    }
                                                   100%{
                                                        transform:translateY(-100vh)rotate(90deg); 
                                                    }
                                                }
                                                .cake img{
                                                    width: 300px;
                                                    height: 300px;
                                                    position: absolute;
                                                    left:10%;
                                                    top: 60%;
                                                    padding: 10px;
                                                    
                                                }
                                                
                                                .candal{
                                                    position: absolute;
                                                    top:55%;
                                                    left:22%;
                                                    transform: translateX(-50%);
                                                }
                                                .candal-img{
                                                    display: block;
                                                    width: 50px;
                                                    height: auto;
                                                    border-radius: 50%;
                                                    animation: flicker 0.2s infinite;
                                                }
                                                .flame{
                                                    position: absolute;
                                                    top: -20px;
                                                    left: 50%;
                                                    transform: translateX(-50%);
                                                    width: 20px;
                                                    height: 40px;
                                                   
                                                }
                                                @keyframes flicker{
                                                    0%{
                                                        opacity: 1;
                                                        transform: translateX(-50%) translateY(0) scale(1);
                                                    }
                                                    0%{
                                                        opacity: 0.8;
                                                        transform: translateX(-50%) translateY(-5px) scale(1.1);
                                                    }
                                                    0%{
                                                        opacity: 1;
                                                        transform: translateX(-50%) translateY(0) scale(1);
                                                    }
                                                }
                                                p{
                                                    margin: 0;
                                                    padding: 10px;
                                                    width: auto;
                                                    box-sizing: border-box;
                                                    position: absolute;
                                                    bottom: -150px;
                                                    left: 500px;
                                                    background: linear-gradient(black,blue);
                                                    color: white;
                                                    border-bottom:1px solid red;
                                                    transition: all 1s ease;
                                                    overflow: hidden;
                                                }
                                                .para{
                                                    position: absolute;
                                                    bottom: -150px;
                                                   
                                                    height: 100%;
                                                    width:auto;
                                                    animation: moveToTop 10s ;
                                                }
                                                .para:nth-child(1){
                                                    animation-delay: 1s;
                                                }
                                                .para:nth-child(2){
                                                    animation-delay: 4s;
                                                }
                                                .para:nth-child(3){
                                                    animation-delay: 6s;
                                                }
                                                .para:nth-child(4){
                                                    animation-delay: 8s;
                                                }
                                                .para:nth-child(5){
                                                    animation-delay: 10s;
                                                }
                                                .para:nth-child(6){
                                                    animation-delay: 12s;
                                                }
                                                .para:nth-child(7){
                                                    animation-delay: 14s;
                                                }
                                                .para:nth-child(8){
                                                    animation-delay: 16s;
                                                }
                                                @keyframes moveToTop{
                                                   0%{
                                                    bottom: 0;
                                                   }
                                                   100%{
                                                    bottom:100%;
                                                   }
                                                }
                                                footer{
                                                    position: absolute;
                                                    left: 60%;
                                                top:100 0%;
                                                }
                                                
                                            
                                                @media (max-width:600px){
                                                    .bulbs{
                                                        height: 100px;
                                                        width:100%;
                                                    }
                                                    .section1{
                                                        
                                                        width: 100%;   
                                                    }
                                                    .boxes{
                                                        
                                                       margin-top: 1px;
                                                       margin-left: 50px;
                                                       margin-right: 50px;
                                                        background:linear-gradient(orange,grey,red,yellow,blue,green)
                                                     
                                                    } 
                                                    .boxes span{
                                                        box-shadow: 0 0 10px black;
                                                        padding: 15px;
                                                        margin-bottom: 50px;
                                                    margin-left: 20px;
                                                    margin-right: 20px;
                                                        margin-top: 20px; 
                                                        font-size: 30px;  
                                                        border-radius: 10px; 
                                                        color: white;
                                                        display: inline-block;
                                                        animation: slideDown 1s infinite ;
                                                    }
                                                    .cake img{
                                                        width: 200px;
                                                        height: 200px;
                                                        position: absolute;
                                                        left:10%;
                                                        top: 80%;
                                                        padding: 10px;
                                                        
                                                    }
    
                                                    p{
                                                        margin: 0;
                                                        padding: 10px;
                                                        width: auto;
                                                        box-sizing: border-box;
                                                        position: absolute;
                                                        bottom: -150px;
                                                        left: 80px;
                                                        font-size:30px;
                                                
                                                        background: linear-gradient(#d33954,grey,blue);
                                                        color: white;
                                                        border-bottom:1px solid red;
                                                        transition: all 1s ease;
                                                        overflow: hidden;
                                                    }
                                                    .candal{
                                                        position: absolute;
                                                        top:75%;
                                                        left:35%;
                                                        transform: translateX(-50%);
                                                    }
                                                    .candal-img{
                                                        display: block;
                                                        width: 50px;
                                                        height: auto;
                                                        border-radius: 50%;
                                                        animation: flicker 0.2s forwards;
                                                    }
                                                    p:hover{
                                                        font-size:50px;
                                                    }
                                                
                                                }
                                               
    
    

                                             
                                               /* @keyframes flicker{
                                                    0%{
                                                        opacity: 1;
                                                        transform: translateX(-50%) translateY(0) scale(1);
                                                    }
                                                    0%{
                                                        opacity: 0.8;
                                                        transform: translateX(-50%) translateY(-5px) scale(1.1);
                                                    }
                                                    0%{
                                                        opacity: 1;
                                                        transform: translateX(-50%) translateY(0) scale(1);
                                                    }
                                                }
                                            }
                                           /* @media (max-width:700px){
                                                .candal{
                                                    position: absolute;
                                                    top:55%;
                                                    left:35%;
                                                    transform: translateX(-50%);
                                                }
                                                .candal-img{
                                                    display: block;
                                                    width: 50px;
                                                    height: auto;
                                                    border-radius: 50%;
                                                    animation: flicker 0.2s forwards;
                                            }
                                            @keyframes flicker{
                                                0%{
                                                    opacity: 1;
                                                    transform: translateX(-50%) translateY(0) scale(1);
                                                }
                                                0%{
                                                    opacity: 0.8;
                                                    transform: translateX(-50%) translateY(-5px) scale(1.1);
                                                }
                                                0%{
                                                    opacity: 1;
                                                    transform: translateX(-50%) translateY(0) scale(1);
                                                }
                                            }
                                        }
